{
  "rules": {
    "no-console": "off",
    "object-curly-spacing": "off",
    "no-warning-comments": "off",
    "no-negated-condition": "off",
    "no-await-in-loop": "off",
    "semi": "off",
    "max-params": "off",
    "indent": [
      "error",
      2
    ]
  },
  "extends": "oclif"
}
